
.club-members {
    margin-top: 4.5rem;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding: 20px; 
  }
  
  .club-members-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color:orange;
  }
  
  .club-name {
    text-transform: uppercase;
    text-align: center;
    color: white; 
  }
  .clubmember {
    display: flex;
    justify-content: center;
  }
  
  .clubmember table {
    width: 80%; 
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
  }
  

  .clubmember th {
    background-color: rgb(124, 206, 134);
    padding: 8px; 
    text-align: left;
    width: 25%;
  }
  

  .clubmember td {
    background-color: #fff;
    padding: 8px; 
    text-align: left;
    width: 25%; 
  }
  tr:hover {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
