
/* StudentList.css */

/* Center the content vertically and horizontally */
/* ClubMembers.css */

.club-members {
    margin-top: 4.9rem;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding: 20px; /* Adjust padding */
  }
  
  .club-members-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color:orange;
  }
  
  .club-name {
    text-transform: uppercase;
    text-align: center;
    color: white; /* Blue color for club names */
  }
  
  .tabless{
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c82333;
  }
