/* Footer.css */

.footer {
  background-color: #1c2b34; /* Set background color */
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.social-media,
.useful-links,
.contact-info {
  flex-basis: 100%; 
  margin-bottom: 30px;
}
.social-media h3,
.useful-links h3,
.contact-info h3 {
  font-size: 2rem;
  margin-bottom: 15px; 
  font-family: 'Roboto', sans-serif; 
}
.social-media ul,
.useful-links ul,
.contact-info ul {
  list-style: none;
  padding: 0;
}

.social-media ul li,
.useful-links ul li,
.contact-info ul li {
  margin-bottom: 10px; 
}

.social-media a,
.useful-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; 
}
.footer-info {
  text-align: center;
  margin-top: 20px;
}

.footer-info p {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .social-media,
  .useful-links,
  .contact-info {
    flex-basis: 33.33%; 
  }
}

@media only screen and (min-width: 992px) {
  .footer-content {
    flex-wrap: nowrap;
  }
}
