/* In your CSS file */
@import '~typeface-roboto'; /* Import Roboto font */

.HomeStud{
  margin-top:4.5rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.welcomee{
  color:white;
}
.clubList{
  display:flex;
  align-items: center;
  justify-content: center;
}
/* .card {
  transition: transform 0.3s ease-in-out ; 
} */

.cardStyle:hover{
  background-color: #d8cba2;
  color:white;
  border:2px #248d89 solid;
  transform: scale(1.1); 
  .cardtitl{
    color:rgb(34, 33, 32);
  }
  
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  color:  #1c2b34; 
  margin-bottom: 1rem; 
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

.club-links{
  display: flex;
  justify-content: space-evenly;
}


