/* In your CSS file */
@import '~typeface-roboto'; /* Import Roboto font */

.HomeStud{
  margin-top:4.9rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.welcomee{
  color:white;
}
.clubList{
  display:flex;
  align-items: center;
  justify-content: center;
}
/* .card {
  transition: transform 0.3s ease-in-out ; 
} */

.cardStyle:hover{
  background-color: #1c2b34;
  color:white;
  border:2px #008b86 solid;
  transform: scale(1.1); /* Increase size by 10% */
  .cardtitl{
    /* border:2px #c2cece; */
    color:antiquewhite;
  }
  
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem; /* Increase font size */
  font-weight: bold; /* Make text bold */
  text-transform: uppercase; /* Convert text to uppercase */
  color:  #1c2b34; /* Change text color */
  margin-bottom: 1rem; /* Add some space below the title */
  border-bottom: 2px solid #333; /* Add a border line under the title */
  padding-bottom: 0.5rem; /* Adjust padding below the title */
}

.club-links{
  display: flex;
  justify-content: space-evenly;
}


