.login-body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .login-container {
    background-color:  white;
    padding: 10px;
    max-width:400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Login-nav-item,
.Login-nav-item {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border-radius: 5px; 
  text-decoration: none; 
  margin-right: 10px; 
}

.Login-nav-item:hover {
  background-color: green; 
}

.dont-have-account {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}
@media (max-width: 320px) {
  .login-container {
    margin-top:5rem;
    padding: 10px; 
    max-width: 90%; 
  }
}
