
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Mudra {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:lightblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom:10px;
  }
  
  .Mudra h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .Mudra p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }
  .Mudra h2 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
  }
  .Mudra table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .Mudra th,
  .Mudra td {
    padding: 0px;
    border: 1px solid black;
    text-align: left;
  }
  .Mudra th {
    background-color: rgb(119, 119, 220);
  }
  .Mudra ul {
    list-style-type: none;
    padding-left: 0;
  }
  .Mudra ul li {
    margin-bottom: 5px;
  }
    .Mudra a {
    color: #007bff;
    text-decoration: none;
  } 
  .Mudra a:hover {
    text-decoration: underline;
  }
  