
.cont{
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  margin-top: 4.5rem;
  padding:20px;
}
.student-queries-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
  }
  
  .student-queries-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .loading-message {
    font-style: italic;
    color: #888;
  }
  
  .query-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .query-text {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .suggestion-text {
    margin-bottom: 10px;
  }
  